<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TacoCloud</title>
</head>

<body>
    <div class ="title">
        <h1 style = "font-family: Arial; text-align: center; font-size: xx-large;">Página de inicio</h1>
        <img src="/images/taco.png", align="center"  height="320" width="480"/>
    </div>
</body>
</html>