<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is the main page</title>
</head>
<body>
    <div class = "title">
        <h1 style = "font-family: Arial; text-align: center; font-size: xx-large;">Página de inicio</h1>
        <img th: src="@{/images/taco.jpg}",height="640",width="480"/>
    </div>
    <p style = "font-family: Arial; text-align: center;">¡Bienvenido a mi sitio web!</p>
</body>
</html>